body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: #075e54;
  color:Darkblue;
  padding: 0px;
  position: relative;
}

.camera-icon {
  margin-left: 1000px;
  cursor: pointer;
    font-size: 20px;
}

.search-input {
  flex: 0;
  margin-left: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;

}

.menu-icon {
  margin-left: 70px;
  cursor: pointer;
  font-size: 30px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 10px;
  background-color: white;
  color: darkblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 160px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.tab-bar {
  display: flex;
  justify-content: space-around;
  background-color: #128c7e;
}

.tab {
  flex: 1;
  padding: 12px;
  background-color: #128c7e;
  color: Darkblue;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.tab.active {
  border-bottom: 3px solid #25d366;
}

.content {
  padding: 20px;
}

.new-chat-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #25d366;
  border: none;
  border-radius: 50%;
  padding: 15px 18px;
  color: darkblue;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}